%h2 
  This is a RESTful Gateway to the HIS Server


#content
  In order to use this you'll need to have a REST client and use the following api:
  %br/
  NOT DONE YET
  
#footer
  HIS RESTful API Service #{HISGW_VERSION}, running on Sinatra v#{Sinatra::VERSION}.
  